replicate
anthropic
datasets
requests
pandas
numpy
scipy
scikit-learn
nltk
sentence-transformers
transformers
accelerate
torch
openai
absl-py
datasets
pandas
tqdm
scikit-learn
torch
transformers
evaluate
bert_score
bleurt @ git+https://github.com/google-research/bleurt.git
sentence-transformers
scipy